USE [Examen_Coppel]
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_MOVIMIENTOS]    Script Date: 17/05/2023 01:13:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JESUS MANUEL LOPEZ BARRIOS
-- Create date: 07/05/2023
-- Description:	PROCEDIMIENTO PARA GUARDAR LOS MOVIMEINTOS DE LOS EMPLEADOS EN EL MES.
-- =============================================
ALTER PROCEDURE [dbo].[SP_GUARDAR_MOVIMIENTOS]

	@ID_EMPLEADO INT,
	@ID_ROL INT,
	@MES INT,
	@YEAR INT,
	@CANTIDAD_ENTREGAS INT,
	@FECHA_REGISTRO DATETIME,
	@ID_MOVIMIENTO BIT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

	IF (@ID_MOVIMIENTO = 0)
	BEGIN
		INSERT INTO MOVIMIENTOS (ID_EMPLEADO, ID_ROL, MES_MOVIMIENTO, YEAR_MOVIMIENTO, CANTIDAD_ENTREGAS, FECHA_REGISTRO)
		VALUES (@ID_EMPLEADO, @ID_ROL, @MES, @YEAR, @CANTIDAD_ENTREGAS, @FECHA_REGISTRO)

		RETURN 1
	END
	ELSE
	BEGIN
		UPDATE MOVIMIENTOS
		SET MES_MOVIMIENTO = @MES,
			YEAR_MOVIMIENTO = @YEAR,
			CANTIDAD_ENTREGAS = @CANTIDAD_ENTREGAS,
			FECHA_REGISTRO = @FECHA_REGISTRO
		WHERE MES_MOVIMIENTO = @MES AND YEAR_MOVIMIENTO = @YEAR AND ID_EMPLEADO = @ID_EMPLEADO

		RETURN @ID_EMPLEADO
	END
	END TRY
	BEGIN CATCH
		RETURN 0
	END CATCH
END
